@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

:root {
  font-family: "Noto Sans";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: hsl(230, 12%, 15%);
  color: hsl(230, 12%, 92%);
}

.route {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
